<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023919741078-3tsak8emhpqg33it9ahfsrgclks9qsib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023919741078-3tsak8emhpqg33it9ahfsrgclks9qsib</string>
	<key>API_KEY</key>
	<string>AIzaSyBZwF8kZqkUVJ6JBiLMJ3d_PhTyITT-xNc</string>
	<key>GCM_SENDER_ID</key>
	<string>1023919741078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signupLogin</string>
	<key>PROJECT_ID</key>
	<string>new-project-a7335</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-a7335.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023919741078:ios:3560b94d17d5ef3f638ab7</string>
</dict>
</plist>